body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

* {
    box-sizing: border-box;
}

.container {
    width: 90%;
    margin: 20px auto;
}

.block {
    padding: 10px;
    border: 1px solid #999;
    text-align: center;
    background: #d9eaf7;
    margin-bottom: 5px;
    word-wrap: break-word;
}

.header, .footer {
    height: 120px;
    width: 100%;
    background-color: #b3d1f0;
    display: table;
}
.header > *, .footer > * {
    display: table-cell;
    vertical-align: middle;
    padding: 0 20px;
}
.header h1, .footer h2 { text-align: left; }
.header p { text-align: right; }
.footer .menu { text-align: left; }

.content-wrapper {
    width: 100%;
    overflow: hidden;
}

.column-left {
    float: left;
    width: 25%;
    padding-right: 5px;
}

.column-center {
    float: left;
    width: 50%;
    padding: 0 2.5px;
}

.column-right {
    float: right;
    width: 25%;
    padding-left: 5px;
}

.left-block-style, .right-block-style {
    background-color: #f5d5c5;
    min-height: 400px;
    height: 100%;
}

.top { background-color: #d9f0d0; min-height: 50px; }
.center { background-color: #ffffff; min-height: 200px; }
.bottom { background-color: #d9f0d0; min-height: 50px; }

.clearfix {
    clear: both;
}

img { width: 100%; height: auto; }
.img_logo { width: 80%; }

.menu {
    list-style: none;
    padding: 0;
    margin: 0;
}
.menu li { display: inline-block; margin-right: 15px; }
.menu a { text-decoration: none; color: #000; font-weight: bold; }
.menu a:hover { color: #0078d7; }